.ghost-btn {
	outline: none;
	background-color: rgba(255,255,255,0);
	border: 3px solid rgba(255,255,255,1);
	border-radius: 10px;
	padding: 25px 50px;
	font-size: 1.3em;
	color: #fff;
	white-space: nowrap;
	@include media($mobile) {
		padding: 20px 40px;
		font-size: 1.5em;
	}
}

.elevator-button {
  position: fixed;
    right: 30px;
    bottom: 30px;
    display: inline-block;
  	border-radius: 10px;
  	color: #fff;
    background: #4D4D4D;
    text-align: center;
    z-index: 5;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.65);
}

@mixin hover {
	transition: 0.5s;
	background-color: rgba(255,255,255,0.4);
	border: 3px solid rgba(255,255,255,0.04);
}
