.info{
  p {
    text-align: left;
    @include media($desktop){
      margin: $lineheight $margin-sides;
    }


  }

  i {
  	font-size: 2em;
  	vertical-align: middle;
  }
  a:hover {
    text-decoration: none;
  }
  a:hover>span {
    text-decoration: underline;
  }
}
