.match-up {
	@include clearfix;
  color: white;
	background-color: $base-background-color;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../build/images/matchup-background.jpg) no-repeat center center;
	background-size: cover;
	width: 100vw;
	text-align: center;
	margin-top: -5px;
	@include media($mobile) {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../build/images/matchup-background-mobile.jpg) no-repeat center center;
		background-size: cover;
		@include media($mobile) {
			p {
				text-align: left;
	  			margin: 0 10% $lineheight;
			}
		}
	}

  .location-left {
    width: 35vw;

  }

  .location-right {
    width: 35vw;
  }

  .match-up-links {
    display: inline-block;

		a {
			transition: 0.5s;
			text-decoration: none;
			opacity: 0.6;
		}

		a:hover {
			opacity: 1;
		}
  }


  i {
    font-size: 100px;
  }
}
