.prize-categories {
	.categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.prize-category {
			flex: 1;
			padding: 1em;
			min-width: 320px;
			max-width: 450px;

			p {
				margin: 0 5%;
			}

		}
	}
}
.secondary {
	h2 {
		font-size: 22px;
	}
	p {
		font-size: 15px;
	}
}
