.sign-up {
	@include clearfix;
	background-color: $base-background-color;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../../build/images/sign-up-background.jpg) no-repeat center center;
	background-size: cover;
	width: 100vw;
	text-align: center;
	margin-top: -5px;
	@include media($mobile) {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../../build/images/sign-up-background-mobile.jpg) no-repeat center center;
		background-size: cover;
	}

	p {
		margin: 0 15% $lineheight;
		@include media($mobile) {
			text-align: left;
  			margin: 0 10% $lineheight;
		}
	}
	i {
		font-size: 2em;
		vertical-align: middle;
	}
	a:hover {
		text-decoration: none;
	}
	a:hover>span {
		text-decoration: underline;
	}

	.location-right {
		@include media($mobile) {
			    width: 100vw;
			    margin-left: 0;
		}
	}

	.ghost-btn {
		&:hover { @include hover; }
	}
}