.the-day {
  color: white;
  padding: 2% 0;
  text-align: center;
  background-color: $base-dark-background-color;
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding-bottom: 5vw;

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.5s, opacity 0.5s;

    &.lightbox-thumbnail {
      min-width: initial;
      height: 250px;
      min-height: initial;
      position: relative;
    }
  }
  .img-shown {
    opacity: 1;
    top: 0;
  }
  .img-not-shown {
    opacity: 0;
    &:nth-child(odd) {
      transform: translateY(5%);
    }
    &:nth-child(even) {
      transform: translateY(-5%);
    }
  }

  .hack-background {
    @include media($mobile) {
      content: url(../../build/images/the-hack-background-mobile.jpg);
    }
  }

  h1{
    position: relative;
    margin-top:0;
    padding-top: 1em;
  }

  .btn-group {
    position: relative;
    min-width: 80%;
  }

  .ghost-btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 1.5em 1em;
    width: 16em;
    max-width: 80vw;
    padding-left: 0;
    padding-right: 0;
    * {
    }
    &:nth-child(odd) {
      margin-bottom: 1.5em;
    }
  }
  .ghost-btn:not(.active):hover {
    background-color: rgba(255,255,255,0.05);
  }

  .active {
    @include hover;
  }

  .the-day-text {
    position: relative;
    p {
      text-align: left;
      @include media($desktop){
        text-align: justify;
      }
    }

  }

  .text-shown {
    left: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  .text-not-shown {
    opacity: 0;
    &:nth-child(odd) {
      transform: translateX(-3%);
    }
    &:nth-child(even) {
      transform: translateX(3%);
    }
  }


}
